<div class="wrapper">
{% assign myString  = "Assign a variable myString. Can only assign strings, numbers, booleans." %}
<p> {{ myString }} </p>

{% capture myString2 %}
Anything in between capture open and end is assigned to myString2.
{% endcapture %}

<p> {{ myString2 }} </p>
</div>

<div class="wrapper">
  {% assign age = 20 %}
  {% assign sex = "male" %}
  {% assign placeOfBirth = "United States" %}
  {% assign string = "Hello World" %}

  {% if age > 20 or sex == "male" %}
    You can only view this text if you are 21+ or a male.
  {% elsif age > 17 and placeOfBirth == "United States" %}
    You can only view this text if you are 18+ and located in the United States
  {% else %}
    You are not 21+, not a male. You are also not 18+ and located in the United States.
  {% endif %}
</div>

<div class="wrapper">
  {% assign age = 20 %}
  {% assign sex = "male" %}
  {% assign placeOfBirth = "United States" %}
  {% assign string = "Hello World" %}

  {% unless string contains "World" %}
    String contains World.
  {% else %}
    Unless does not have else if
  {% endunless %}

</div>